<ion-header>
    <ion-toolbar color="primary">
      <div align="center">
        <h2>RuangBelajar</h2>
      </div>
      <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div class="margin-news-content">
          <ion-card color="light">
              <ion-item color="primary">
                <h2>Ruangan 1</h2>
              </ion-item>
            <div class="margin-news">
                <img src="../../assets/imgs/english.gif">
                <h2>
                  Bahasa Inggris
                </h2>
                <ion-label>Dimulai sejak 10 Menit yang lalu.</ion-label>
                    <div align="center">
                      <ion-button>Join</ion-button>
                    </div>
            </div>
          </ion-card>
        </div>
        <p style="text-align: center; font-size: 12px;">----- ruangkampus -----</p>
        <div class="margin-news-content">
            <ion-card color="light">
                <ion-item color="primary">
                  <h2>Ruangan 2</h2>
                </ion-item>
              <div class="margin-news">
                  <img src="../../assets/imgs/coding.jpg">
                  <h2>
                    HTML
                  </h2>
                  <ion-label>Dimulai sejak 20 Menit yang lalu.</ion-label>
                      <div align="center">
                        <ion-button>Join</ion-button>
                      </div>
              </div>
            </ion-card>
          </div>
  </ion-content>
  