<ion-header>
</ion-header>

<ion-content class="background">

  <div align="center">
    <h2> <ion-icon name="md-cart"></ion-icon>Pembelian<ion-icon name="md-cart"></ion-icon></h2>
  </div>
<ion-card color="light">
  <section style="align-items: center;text-align: center;">
    <header><h1>Upgrade Akun</h1></header>
    <ion-button expand="block">VIP</ion-button>
    <ion-button expand="block">Premium</ion-button>
    <ion-button expand="block">Unlimited</ion-button>
  </section>
</ion-card>

<ion-card color="light">
    <section style="align-items: center;text-align: center;">
      <header><h1>Beli E-Book Ekslusif</h1></header>
      <ion-button expand="block">Sains</ion-button>
      <ion-button expand="block">Programming</ion-button>
      <ion-button expand="block">Kewarganegaraan</ion-button>
    </section>
</ion-card>

</ion-content>
