<ion-content class="home">
    
  <div align="center">
    <h2> <ion-icon name="home"></ion-icon>Beranda<ion-icon name="home"></ion-icon></h2>
  </div>

  <div class="margin-news-content">
    <ion-card  class="rbljr" (click)="rbj()">
      <div class="margin-news">
        <h1>RuangBelajar</h1>
        <p>Belajar nyaman dengan video dan latihan soal beserta koreksi dan penjelasan</p>
      </div>
    </ion-card>
  </div>
  <div class="margin-news-content">
    <ion-card  class="rmhs">
      <div class="margin-news">
        <h1>RuangMahasiswa</h1>
        <p>Berbagi ilmu pengetahuan dengan mahasiswa pengguna ruangkampus si-Indonesia</p>
      </div>
    </ion-card>
  </div>
  <div class="margin-news-content">
      <ion-card  class="rmtr">
        <div class="margin-news">
          <h1>RuangLes</h1>
          <p>Les online bersama pengajar-pengajar yang berkompeten</p>
        </div>
      </ion-card>
    </div>

</ion-content>