<ion-header>
</ion-header>
  
  <ion-content>
  
      <div align="center">
        <h2> <ion-icon name="notifications"></ion-icon>Notifikasi<ion-icon name="notifications"></ion-icon></h2>
      </div>
  
    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>
        <h2>Verifikasi akun anda <a href="#">disini.</a> </h2>
        <p>Baru Saja.</p>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>
        <h2>Selamat datang di ruangkampus</h2>
        <p>5 Menit yang lalu</p>
      </ion-label>
    </ion-item>
    
  </ion-content>
  