.background{
    --background: url(../../assets/imgs/bg.png) 0 0/100% 100% no-repeat;
  }
  
  .marginone{
    padding: 10% 10% ;
  }
  
  .margintwo {
    margin-top:220px;
  }
  
  .margin-img1{
    margin-top: 320px;
  }
  
  .wctext-margin{
    --ion-font-family:  'AutographScriptEF'!important;
    font-family:  'AutographScriptEF' !important;
    font-size: 30px;
    text-align: center;
  }